{% extends 'adminplus/base.html' %}
{% load admin_urls %}
{% block title %}Lista de alumnos{% endblock %}
{% block branding %}<h1>Sistema de Gesti&oacute;n Bruzzesa</h1>{% endblock %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static '/admin/css/forms.css'%}"/>
<link rel="stylesheet" type="text/css" href="{% static '/admin/css/base.css'%}"/>
<link rel="stylesheet" href="{% static '/admin/css/vendor/jquery/jquery-ui.min.css'%}">
<script src="{% static '/admin/js/vendor/jquery/jquery.min.js'%}"></script>
<script src="{% static '/admin/js/vendor/jquery/jquery-ui.min.js'%}"></script>
<script src="{% static '/gestionAlumnos/js/informe_alumno.js'%}"></script>
<div id="content-main">
    <form id="frmInforme" name="frmInforme">
        <table>
            </tr>
                <th>A&#241;o:</th><th><select id="cbxAnio" name="cbxAnio"></select></th>
            </tr>
            <tr>
                <th>Alumno:</th><th><input type="search" id="cbxAlumno" name="cbxAlumno" class="custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left ui-autocomplete-input"></th>
                <th>Taller:</th><th><input type="search" id="cbxCurso" name="cbxCurso" class="custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left ui-autocomplete-input"></th>
                <th>Curso:</th><th><input type="search" id="cbxIdioma" name="cbxIdioma" class="custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left ui-autocomplete-input"></th>
            </tr>
        </table>
        <input type="hidden" id="id_alumno" name="id_alumno">
        <input type="hidden" id="id_curso" name="id_curso">
        <input type="hidden" id="id_idioma" name="id_idioma">
        <input type="hidden" name="report_name" value="alumnosMorosos">
        <input type="button" value="Limpiar Filtros" onclick="javascript:limpiar();">
        <input type="button" value="Generar PDF" onclick="generarPdf()"">
        <input type="button" value="Generar Lista de Asistencia"  onclick="generarXls()">
        <p></p>
    </form>
</div>
{% endblock %}